/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Lobster);

.navbar-default .navbar-toggle .icon-bar {
  background-color: white !important;
}

.navbar-default {
  background-color: rgba(50, 75, 150, .65);
  font-family: 'Lato';
  cursor: auto;
}

.navbar-default .navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  color: white !important;
  padding-left: 30px;
}

.navbar-default .navbar-nav > li > a {
  padding: 20px 20px;
  line-height: 30px;
  text-transform: uppercase;
  cursor: auto;
  color: white !important;
}

.navbar-default .navbar-nav > li > a:hover {
  text-decoration: underline;
}

.navbar-default .navbar-nav {
  text-transform: uppercase;
  font-family: 'Lato';
  color: white;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color:rgba(50, 75, 150, .20);
}
